<!-- app/views/user_mailer/accept_user_email.html.erb -->
<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
  <h1>Your account has been accepted</h1>
  <p>Your account has been accepted by the admin. You can now log in and access your account.</p>
</body>
</html>
