<!-- app/views/user_mailer/reject_user_email.html.erb -->
<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
  <h1>Your account has been rejected</h1>
  <p>Unfortunately, your account has been rejected by the admin. If you believe this is a mistake, please contact support.</p>
</body>
</html>
