<!-- app/views/user_mailer/reset_password_email.html.erb -->
<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
  <h1>Password Reset OTP</h1>
  <p>Hi <%= @user.name %>,</p>
  <p>Your OTP for password reset is: <%= @otp %></p>
  <p>Please use this OTP to reset your password.</p>
  <p>Thank you.</p>
</body>
</html>
