<!-- app/views/payment_mailer/payment_accepted_email.html.erb -->
<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
  <h1>Your payment has been accepted!</h1>
  <p>Dear <%= @user.name %>,</p>
  <p>Your payment has been accepted. Thank you for your payment.</p>
</body>
</html>
