<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
  <h1>Your cash payment has been successfully completed!</h1>
  <h1> <%= @user.name %> </h1>
</body>
</html>
